<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mytian.data.link.mapper.cluster.ChannelMapper">

    <resultMap type="com.mytian.data.link.entity.Channel" id="baseChannelResultMap">
        <id column="id" property="id"/>
        <result column="channel_en" property="channel_en"/>
        <result column="channel_ch" property="channel_ch"/>
    </resultMap>

</mapper>